div.workload {
  position: absolute;
  height:8px;
  font-size:0.8em;
  color:#888;
  padding:0;
  margin:0;
  line-height:16px;
  white-space:nowrap;
}

.workload_0 {
  background: #FF0000;
  border: 1px solid #A00000;
}

.workload_25 {
  background: #FFC000;
  border: 1px solid #A05000;
}

.workload_50 {
  background: #FFFF00;
  border: 1px solid #A0A000;
}

.workload_75 {
  background: #C0FF00;
  border: 1px solid #50A000;
}

.workload_100 {
  background: #00FF00;
  border: 1px solid #00A000;
}

.workload_empty {
  background: #FF0000 url(/plugin_assets/redmine_workload/images/overflow.png);
  border: 1px solid #000000;
}

.workload_full {
  background: #00FF00 url(/plugin_assets/redmine_workload/images/overflow.png);
  border: 1px solid #000000;
}

.workload.workload_overdue {
  background-image: url(/plugin_assets/redmine_workload/images/issue_overdue.png);
  background-repeat: no-repeat;
  border: 0;
  margin-left: -4px;
  margin-top: 12px;
}

.workload.tip ul {
  margin: 0 0 0 -20px;
}

.workload.tip fieldset {
  font-size: 1.0em;
}
